<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kakao.kakaonavi">

    <application>
        <activity
            android:name=".KakaoNaviWebViewActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
    </application>

</manifest>