<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kakao.sdk.navi.sample">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/navi_icon_144"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <meta-data
            android:name="com.kakao.sdk.Phase"
            android:value="@string/kakao_phase" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>
        <!--<meta-data-->
            <!--android:name="com.kakao.sdk.kakaonavi.useWebView"-->
            <!--android:value="false" />-->

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".KakaoNaviActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/NoActionBar">
        </activity>
    </application>

</manifest>