<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kakao.sdk.sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".common.GlobalApplication"
        android:allowBackup="false"
        android:icon="@drawable/kakaolink_sample_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="false"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        <meta-data
            android:name="com.kakao.sdk.Phase"
            android:value="@string/kakao_phase" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.RootLoginActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".common.SampleSignupActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".KakaoServiceListActivity"
            android:launchMode="singleTop" />

        <!-- kakaoStory를 위한 activity -->

        <activity
            android:name=".kakaostory.KakaoStoryFriendListActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kakaostory.KakaoStoryMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/kakaostory_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>

        <!-- kakaoTalk를 위한 activity -->

        <activity
            android:name=".kakaotalk.KakaoTalkMainActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/kakaotalk_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kakaotalk.KakaoTalkFriendListActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".kakaotalk.KakaoTalkChatListActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".push.PushMainActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTop" />

        <service android:name=".push.SampleFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- usermgmt 를 위한 activity -->

        <activity
            android:name=".usermgmt.UsermgmtMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- friends 를 위한 activity -->

        <activity
            android:name=".friends.FriendsMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".common.LoginFragmentActivity"
            android:label="@string/title_activity_login_fragment"
            android:launchMode="singleTop"
            android:parentActivityName=".common.RootLoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kakao.sdk.sample.common.RootLoginActivity" />
        </activity>
        <activity
            android:name="com.kakao.sdk.sample.common.SampleLoginActivity"
            android:label="@string/title_activity_sample_login"
            android:launchMode="singleTop"
            android:parentActivityName="com.kakao.sdk.sample.common.RootLoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kakao.sdk.sample.common.RootLoginActivity" />
        </activity>
    </application>

</manifest>